#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  visibility: visible;
  z-index: 2;
}

.gradient {
  height: 20px;
}

.gradient-1 {
  background: linear-gradient(90deg, #7ec670 0%, #cb9b97 100%);
  -webkit-animation: slide-in-bck-center 0.3s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gradient-2 {
  background: linear-gradient(90deg, #83cf74 0%, #d59f9f 100%);
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s
    both;
  display: grid;
  grid-template-columns: 4fr 3fr;
  font-family: "lcd_solidregular";
  color: black;
  align-items: center;
}

.gradient-3 {
  background: linear-gradient(90deg, #68a464 0%, #a68183 100%);
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s
    both;
}

.gradient-4 {
  background: linear-gradient(90deg, #4b7351 0%, #715d66 100%);
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s
    both;
}

.gradient-5 {
  background: linear-gradient(90deg, #334d44 0%, #45424d 100%);
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.2s
    both;
}

.gradient-6 {
  background: linear-gradient(90deg, #243339 0%, #292f3b 100%);
  -webkit-animation: slide-in-bck-center 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    both;
}

.header-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 4rem;
}

.header-logo {
  padding-left: 100px;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}

.link {
  position: relative;
  width: max-content;
  padding: 0 1rem;
}
.link:hover::before {
  content: "";
  position: absolute;
  display: flex;
  background-color: #fff;
  height: 0.4rem;
  width: 100%;
  top: 50%;
  margin-left: -1rem;
  z-index: -1;
}

.link-work {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s
    both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s both;
}

.link-about {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.1s
    both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.1s both;
}
.link-contact {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.4s
    both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.4s both;
}
.link-mob {
  display: none;
}

/* ========= Media Quiries  (small) ========== */
@media screen and (max-width: 600px) {
  .gradient-2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .header-logo {
    padding: 0;
  }
  .header-nav {
    display: none;
  }
  .link-mob {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 1.2rem;
    font-family: var(--text-lcd);
  }
}

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
