aside {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 2px;
  font-family: "lcd_solidregular";
}
#side-nav {
  visibility: hidden;
  transition: ease-in-out 0.3s;
}
.side-nav {
  width: max-content;
  height: max-content;
  color: black;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.side-nav:hover {
  background: transparent;
}

aside .color1 {
  background: #7ec670;
  margin-top: 30px;
}
aside .color2 {
  background: #4b7351;
  margin-top: 20px;
}
aside .color3 {
  background: #715d66;
  margin-top: -10px;
}
aside .color4 {
  background: #a68183;
}

@media screen and (max-width: 600px) {
  #side-nav {
    background-color: gray;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
  }
  .side-nav {
    writing-mode: horizontal-tb;
  }
  aside .color1 {
    margin: 0;
  }
  aside .color2 {
    margin: 0;
  }
  aside .color3 {
    margin: 0;
  }
  aside .color4 {
    margin: 0;
  }
}
