.team-member {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #404853;
  color: var(--color-txt);
  font-family: var(--text-lcd);
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 1rem;
}
.team-img {
  width: 80%;
  padding: 0.5rem;
}
.team-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.team-text {
  font-family: var(--text-mon);
}
