#about {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.about-text {
  font-family: var(--text-mon);
  padding: 1rem;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #d59f9f, #7ec670) 1;
  line-height: 1.8rem;
  margin: 1rem 0 2rem 0;
}

.about-text h5 {
  font-family: var(--text-lcd);
  font-size: 2rem;
  font-weight: 200;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  width: max-content;
}

.about-text h5::before {
  content: "";
  position: absolute;
  display: flex;
  background-color: black;
  height: 0.5rem;
  width: 100%;
  top: 25%;
  margin-left: -01rem;
  justify-content: center;
  z-index: -1;
}

.team {
  width: 90%;
}

.team h5 {
  font-family: var(--text-lcd);
  font-size: 2rem;
  font-weight: 200;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  width: max-content;
}
.team h5::before {
  content: "";
  position: absolute;
  display: flex;
  background-color: black;
  height: 0.5rem;
  width: 100%;
  top: 25%;
  margin-left: -01rem;
  justify-content: center;
  z-index: -1;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.team-pic {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
