#home {
  display: flex;
  flex-direction: column;
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}

.home-hello {
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: var(--text-lcd);
  margin: 12rem auto 5rem;
}

.hello-sq {
  margin-left: -1rem;
  background: linear-gradient(45deg, #cb9b97, #7ec670);
  width: 0.8rem;
  height: 0.8rem;
  -webkit-animation: heartbeat 1500ms ease-in-out infinite both;
  animation: heartbeat 1500ms ease-in-out infinite both;
}
/*
.home-services {
  font-family: var(--text-mon);
  padding: 1rem;
  margin-top: 4rem;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #cb9b97, #7ec670) 1;
  line-height: 1.8rem;
  animation: animatedgradient 3s ease alternate infinite;
}
*/
.home-services {
  font-family: var(--text-mon);
  padding: 1rem;
  line-height: 1.8rem;
  background-color: var(--color-bg);
  --borderWidth: 3px;
  position: relative;
}
.home-services:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(to right, #cb9b97, #7ec670);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.home-services h5 {
  font-family: var(--text-lcd);
  font-size: 2rem;
  font-weight: 200;
  padding: 0 1rem 1rem 1rem;
  position: relative;
  width: max-content;
}

.home-services h5::before {
  content: "";
  position: absolute;
  display: flex;
  background-color: black;
  height: 0.5rem;
  width: 100%;
  top: 25%;
  margin-left: -01rem;
  text-align: center;
  z-index: -1;
}

.lcd {
  font-family: var(--text-lcd);
}
.color1 {
  color: #7ec670;
}
.color2 {
  color: #4b7351;
}
.color3 {
  color: #715d66;
}
.color4 {
  color: #a68183;
}
.color5 {
  color: #cb9b97;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
