@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
@font-face {
  font-family: "lcd_solidregular";
  src: url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff2") format("woff2"),
    url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #1f2935;
}

section {
  min-height: 100vh;
}
