@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
@font-face {
  font-family: "lcd_solidregular";
  src: url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff2") format("woff2"),
    url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  width: max-content;
}
a:link,
a:visited {
  color: unset;
  text-decoration: none;
}

a:link:active,
a:visited:active {
  color: unset;
}
section {
  min-height: 100vh;
}

/* HOME */

/* SIDE NAV*/
aside {
  font-family: "lcd_solidregular";
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  color: wheat;
  gap: 25px;
}
.side-nav {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@keyframes typing {
  to {
    width: 0;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}
