@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:visited,
a:link {
  color: wheat;
  text-decoration: none;
}

.header {
  height: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  text-align: center;
  font-family: "Pixelify Sans", cursive;
  font-weight: 600;
}
.gradient-1 {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(71, 209, 85, 1) 0%,
    rgba(121, 9, 102, 1) 100%,
    rgba(249, 69, 196, 1) 100%
  );
}
.gradient-2 {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 240, 63, 1) 0%,
    rgba(208, 84, 171, 1) 100%,
    rgba(121, 9, 102, 1) 100%
  );
}
.gradient-3 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 240, 63, 1) 0%,
    rgba(31, 161, 43, 1) 3%,
    rgba(163, 14, 119, 0.6923144257703081) 100%,
    rgba(121, 9, 102, 1) 100%
  );
}
.gradient-4 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 14, 27, 1) 0%,
    rgba(39, 44, 120, 1) 0%,
    rgba(15, 19, 98, 0.5690651260504201) 100%,
    rgba(121, 9, 102, 1) 100%
  );
}
.gradient-5 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 14, 27, 1) 0%,
    rgba(8, 10, 38, 1) 0%,
    rgba(15, 19, 98, 0.5690651260504201) 100%,
    rgba(121, 9, 102, 1) 100%
  );
}
.gradient-6 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 14, 27, 1) 0%,
    rgba(8, 10, 38, 1) 0%,
    rgba(15, 19, 98, 0.6923144257703081) 100%,
    rgba(121, 9, 102, 1) 100%
  );
}
body {
  height: 100%;
  background: rgba(2, 0, 36, 1) 0%;
}
.hello-sq {
  -webkit-animation: flicker-1 2s linear infinite both;
  animation: flicker-1 2s linear infinite both;
}
.hello-msg {
  font-family: "Pixelify Sans", cursive;
  font-size: 30px;
  color: wheat;
  margin: 50px auto;
  width: max-content;
}
.tab {
  margin-left: 10px;
}
.services {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(12, 199, 75), rgb(211, 24, 195)) 1;
  width: max-content;
  padding: 10px;
  width: 75%;
  margin: 140px auto;
}
.services-head {
  font-size: 30px;
  color: wheat;
  font-family: "Pixelify Sans", cursive;
}
.services-text {
  color: wheat;
  font-family: "Montserrat", sans-serif;
}
.services-span {
  font-family: "Pixelify Sans", cursive;
  color: green;
}
.works-header {
  display: flex;
  gap: 20px;
  color: wheat;
  font-family: "Pixelify Sans", cursive;
}
.work {
  display: flex;
  gap: 25px;
  margin: 50px;
}
.work-head {
  width: 200px;
  background: lightgreen;
}
.work-desc {
  width: 600px;
  border: 1px solid white;
  color: wheat;
}

aside {
  color: wheat;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.side-nav {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.side-nav:hover {
  color: red;
  cursor: pointer;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-30 22:44:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-30 22:47:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
